@tailwind base;
@tailwind components;
@tailwind utilities;


/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 800 */

.sen-uniquifier {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}